@use './colors'as c;

.not-found {
    margin-right: 0;

    p {
        font-size: 1.25rem;
    }

    hr {
        height: 1px;
        background-color: #ccc;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        min-width: 55vw;
        max-width: 60vw;
    }

    .not-div {
        margin-top: 2rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

        .alert {
            width: 80vw;
            text-align: center;

            @media only screen and (min-width : 1024px) {
                width: 35vw;
            }

            p {
                margin: 0;
            }
        }

        h {
            &1 {
                color: c.$dark-green;
                margin-bottom: 1rem;
                margin-top: 0;
                text-align: center;
                font-family: 'OpenSans', sans-serif;
                font-weight: 400;
            }

            &2 {
                color: c.$a11y-teal;
                text-align: center;
                font-family: 'OpenSans', sans-serif;
                font-weight: 400;

                +section {
                    margin-bottom: 1rem;
                }
            }

        }

        a {
            color: c.$a11y-teal;

            &:hover,
            &:focus {
                color: c.$dark-green;
            }

            &:visited {
                color: c.$visited;
            }
        }



        img.responsive {
            margin-top: 1rem;
            max-width: 40vw;
            max-height: 45vh;
        }



    }
}