.not-found {
  margin-right: 0;
}
.not-found p {
  font-size: 1.25rem;
}
.not-found hr {
  height: 1px;
  background-color: #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 55vw;
  max-width: 60vw;
}
.not-found .not-div {
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.not-found .not-div h1 {
  color: #465D2D;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}
.not-found .not-div h2 {
  color: #0D5F68;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}
.not-found .not-div .wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.not-found .not-div .wrapper section {
  padding: 0.25rem;
}
.not-found .not-div .wrapper section .icon-nf {
  position: relative;
  padding-left: 3rem;
  padding-top: 0.4rem;
  /*
  new
      */
  position: relative;
  /* Mobile Sizing - up to $screen-md*/
  line-height: 1.5;
  padding-left: 3rem;
  padding-top: 0.4rem;
}
.not-found .not-div .wrapper section .icon-nf::before {
  /* 

  New

  */
  content: "";
  display: block;
  position: absolute;
  width: 2.3em;
  height: 2.3em;
  left: -10px;
  top: -9px;
  background-image: url(./images/triangle-exclamation-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
.not-found .not-div a {
  color: #0D5F68;
}
.not-found .not-div a:hover, .not-found .not-div a:focus {
  color: #465D2D;
}
.not-found .not-div a:visited {
  color: #813399;
}
.not-found .not-div img.responsive {
  margin-top: 1rem;
  max-width: 40vw;
  max-height: 45vh;
}

/* *************************************************************
 * GET THE SVG CODE
 * ************************************************************/
@font-face {
  font-family: "Aleo-Bold";
  src: url("fonts/Aleo/Aleo-Bold-webfont.eot");
  src: url("fonts/Aleo/Aleo-Bold-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Bold-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Bold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo-Regular";
  src: url("fonts/Aleo/Aleo-Regular-webfont.eot");
  src: url("fonts/Aleo/Aleo-Regular-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Regular-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo-Light";
  src: url("fonts/Aleo/Aleo-Light-webfont.eot");
  src: url("fonts/Aleo/Aleo-Light-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Light-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans/OpenSans-Regular-webfont?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans/OpenSans-Italic.eot");
  src: url("fonts/OpenSans/OpenSans-Italic?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans/OpenSans-Bold.eot");
  src: url("fonts/OpenSans/OpenSans-Bold?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo-Bold";
  src: url("fonts/Aleo/Aleo-Bold-webfont.eot");
  src: url("fonts/Aleo/Aleo-Bold-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Bold-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Bold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo-Regular";
  src: url("fonts/Aleo/Aleo-Regular-webfont.eot");
  src: url("fonts/Aleo/Aleo-Regular-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Regular-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo-Light";
  src: url("fonts/Aleo/Aleo-Light-webfont.eot");
  src: url("fonts/Aleo/Aleo-Light-webfont.eot?iefix") format("eot"), url("fonts/Aleo/Aleo-Light-webfont.woff") format("woff"), url("fonts/Aleo/Aleo-Light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans/OpenSans-Regular-webfont?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans/OpenSans-Italic.eot");
  src: url("fonts/OpenSans/OpenSans-Italic?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans/OpenSans-Bold.eot");
  src: url("fonts/OpenSans/OpenSans-Bold?iefix") format("eot"), url("fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
.top-nav {
  background-color: #BAE7EB;
}
.top-nav ul {
  margin-bottom: 0;
}
.top-nav:before {
  content: "";
  display: block;
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: #BAE7EB;
  top: 0;
  right: 0px;
  width: 20%;
  height: 48px;
}

#mainmenu_link {
  font-family: "Aleo-Light";
  font-weight: 600;
}

header {
  height: 15em;
}

header:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(images/banner.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 14em;
  top: 1em;
  width: 80%;
  left: 10%;
}

.course-title-block {
  font-family: "Aleo-Light";
  position: absolute;
  margin: 4em 0em 1em 0em;
  font-size: 2em;
  border: 2px black solid;
  padding: 5px 30px 5px 5px;
}
.course-title-block span {
  display: block;
  text-transform: uppercase;
}
.course-title-block span:first-of-type {
  color: #678842;
  font-weight: 600;
}

/* **********************************************************
 * titles
 * *********************************************************/
main h1,
main h2,
main h3 {
  font-family: "Aleo-Light";
  font-weight: 600;
}
main h1 {
  color: #678842;
  font-size: 2.1em;
  margin-top: 2em;
}

/* **********************************************************
 * backnext
 * *********************************************************/
html header .backnext a,
.not-backnext a {
  background-color: #14808A;
  border-radius: 50%;
  padding: 12px;
}
html header .backnext a.prev:before,
.not-backnext a.prev:before {
  border-right-color: white;
  margin: 5px 8px;
}
html header .backnext a.next:before,
.not-backnext a.next:before {
  border-left-color: white;
  margin: 5px 8px;
}
html header .backnext a:hover, html header .backnext a:focus,
.not-backnext a:hover,
.not-backnext a:focus {
  background-color: #12737D;
}
html header .backnext a:focus,
.not-backnext a:focus {
  outline: 1px solid #12737D;
}

/* ***************************************************** */
[href*="https://www.tpsgc"] {
  outline: none;
}

.mimic-h2 {
  font-size: 1.3em;
  color: black;
  margin-top: 0;
}

.some-label {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.nav-block a {
  outline: none;
  background-color: transparent;
  color: #f9f9f9;
}

p {
  font-size: 17px;
}

figure {
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.the-list > span {
  display: block;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
.the-list > span > span {
  display: block;
  display: list-item;
  list-style-type: lower-alpha;
  list-style-position: inside;
  margin-left: 1.4em;
}

details.list-toggle summary {
  background-color: #55bb55;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid #ccc;
}
details.list-toggle summary:hover, details.list-toggle summary:focus {
  background-color: #66cc66;
}
details.list-toggle summary::-webkit-details-marker {
  display: none;
}
details.list-toggle summary::marker {
  content: "";
}

.the-button {
  background-color: #55bb55;
}
.the-button:hover, .the-button:focus {
  background-color: #66cc66;
}

.course-title-block:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #A2B63B;
  z-index: -1;
}

.not-backnext {
  position: relative;
}
.not-backnext a {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 0;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  max-width: 35em;
  width: 60%;
  padding: 0;
  z-index: 10000000;
}
@media screen and (min-width: 1200px) {
  dialog {
    transform: translate(-66%, -60%);
  }
}
dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadein-bd 500ms forwards;
}
@media (prefers-reduced-motion) {
  dialog[open]::backdrop {
    animation: fadein-bd 500ms forwards;
  }
}
dialog .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}
dialog .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
dialog .modal-header h2, dialog .modal-header h3 {
  flex-grow: 2;
  margin-bottom: 0;
}
dialog .modal-header .close-modal {
  outline: none;
  border: none;
  color: grey;
  margin: 0.25rem 0.25rem 0 auto;
  background-color: #fff;
  padding: 0.25rem 1rem;
  flex-shrink: 1;
}
dialog .modal-header .close-modal:focus, dialog .modal-header .close-modal:hover {
  outline: 2px solid grey;
}
dialog .modal-body {
  padding: 1rem;
}
dialog .modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
dialog .modal-footer .close-modal {
  border: 1px solid #14808A;
  color: opacity(1);
}
dialog[showing] {
  display: block;
  inset: 0;
  animation: fadein-md 500ms forwards, slidedown-modal 500ms forwards;
}
@media (prefers-reduced-motion) {
  dialog[showing] {
    animation: fadein-md 500ms forwards;
  }
}
dialog[showing]::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadein-bd 500ms forwards;
}
@media (prefers-reduced-motion) {
  dialog[showing]::backdrop {
    animation: fadein-bd 500ms forwards;
  }
}
dialog[hiding] {
  display: block;
  inset: 0;
  animation: fadeout 555ms forwards, scaleout 550ms forwards;
}
@media (prefers-reduced-motion) {
  dialog[hiding] {
    animation: fadeout 550ms forwards;
  }
}
dialog[hiding]::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeout-bd 555ms forwards;
}
@media (prefers-reduced-motion) {
  dialog[hiding]::backdrop {
    animation: fadeout-bd 500ms forwards;
  }
}

@keyframes fieldup {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes fielddown {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scaleout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scalein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slidedown-modal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadein-bd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes fadeout-bd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-md {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* *********************************************************
 * VARS
 * ********************************************************/
/* *********************************************************
 *
 * ********************************************************/
body {
  font-size: 16px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

header {
  position: relative;
}

main {
  min-height: 50vh;
}

a.external::after {
  content: "";
  background: url(./images/icon_external_link.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  overflow: hidden;
  color: #0000;
  display: inline-block;
  margin-left: 3px;
}

/* *********************************************************
 * BLOCK
 * ********************************************************/
.nav-block {
  position: fixed;
  display: block;
  background: white;
  color: black;
  top: 0px;
}
.nav-block h2 {
  display: none;
}
.nav-block ul {
  padding: 0px;
  margin: 0px;
}
.nav-block li {
  list-style: none;
}
.nav-block li a {
  overflow: hidden;
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
}
.nav-block li a:focus {
  width: auto;
  height: auto;
  padding: 5px 10px;
}

/* *********************************************************
 * TOOLBOX
 * ********************************************************/
.top-nav {
  position: absolute;
  display: block;
  right: 0px;
}
.top-nav h2 {
  display: block;
  visibility: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
}
.top-nav ul {
  padding: 0;
  display: flex;
  flex-flow: row wraph;
}
.top-nav ul li {
  list-style-type: none;
}
.top-nav a {
  color: black;
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 1.5em;
  overflow: hidden;
  text-indent: -9999px;
}
.top-nav a:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin: -1em;
  padding: 0.75em;
}
.top-nav a.home:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199 191'%3E%3Cpath d='M196.81,69.39,105.5,3.05a8.8,8.8,0,0,0-10.34,0L3.85,69.39C2.39,70.78,1,72,1,78.81V186.58c.28,4,2.36,5.79,6.17,5.79H70V128.72a9.92,9.92,0,0,1,9.89-9.89h41.14a9.92,9.92,0,0,1,9.89,9.89v63.65h62.66c3.81,0,5.75-2.57,6.18-6.07L200,79.22C199.8,73.73,199.89,71.63,196.81,69.39Z' transform='translate(-1 -1.37)' fill='black'/%3E%3C/svg%3E");
}
.top-nav a.quit:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.06 198.87'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:black;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M126.52,99.34,194.6,31.26a18.41,18.41,0,0,0,0-26,18.87,18.87,0,0,0-26,0L100.48,73.3,32.39,5.21a18.88,18.88,0,0,0-26,0,18.41,18.41,0,0,0,0,26.05L74.43,99.34,6.34,167.43a18.41,18.41,0,0,0,0,26,18.86,18.86,0,0,0,26.05,0l68.09-68.08,68.08,68.08a18.42,18.42,0,1,0,26-26ZM181.57,8.39' transform='translate(-0.94 0)'/%3E%3C/svg%3E");
}
.top-nav a.help:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 132.1 200'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:black;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M34,55.22Q34,42.67,42,29.79T65.52,8.45Q81,0,101.59,0q19.14,0,33.81,7.07t22.66,19.22a47.12,47.12,0,0,1,8,26.42,40.82,40.82,0,0,1-4.56,19.68A60.4,60.4,0,0,1,150.66,87q-6.27,6.14-22.52,20.67a89.73,89.73,0,0,0-7.2,7.2,29,29,0,0,0-4,5.68,27.89,27.89,0,0,0-2,5.15q-.72,2.58-2.18,9.05-2.5,13.74-15.72,13.74A16.1,16.1,0,0,1,85.4,144q-4.68-4.49-4.69-13.34A46.91,46.91,0,0,1,93.26,97.16a209.53,209.53,0,0,1,15.33-14.6q8.44-7.4,12.22-11.16A37.8,37.8,0,0,0,127.15,63a20.36,20.36,0,0,0,2.57-10,23.34,23.34,0,0,0-7.86-17.83q-7.86-7.26-20.27-7.27-14.53,0-21.41,7.33T68.56,56.8q-4.49,14.94-17,14.93A16.73,16.73,0,0,1,39,66.51Q33.94,61.29,34,55.22ZM98.41,200a20.75,20.75,0,0,1-14.06-5.22q-6-5.22-6-14.6a18.8,18.8,0,0,1,5.81-14,19.64,19.64,0,0,1,14.26-5.68,19.4,19.4,0,0,1,19.69,19.68q0,9.25-5.95,14.54A20.06,20.06,0,0,1,98.41,200Z' transform='translate(-33.95)'/%3E%3C/svg%3E");
}
.top-nav a.home:hover:before, .top-nav a.home:focus:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199 191'%3E%3Cpath d='M196.81,69.39,105.5,3.05a8.8,8.8,0,0,0-10.34,0L3.85,69.39C2.39,70.78,1,72,1,78.81V186.58c.28,4,2.36,5.79,6.17,5.79H70V128.72a9.92,9.92,0,0,1,9.89-9.89h41.14a9.92,9.92,0,0,1,9.89,9.89v63.65h62.66c3.81,0,5.75-2.57,6.18-6.07L200,79.22C199.8,73.73,199.89,71.63,196.81,69.39Z' transform='translate(-1 -1.37)' fill='DarkGreen'/%3E%3C/svg%3E");
}
.top-nav a.quit:hover:before, .top-nav a.quit:focus:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.06 198.87'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:DarkGreen;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M126.52,99.34,194.6,31.26a18.41,18.41,0,0,0,0-26,18.87,18.87,0,0,0-26,0L100.48,73.3,32.39,5.21a18.88,18.88,0,0,0-26,0,18.41,18.41,0,0,0,0,26.05L74.43,99.34,6.34,167.43a18.41,18.41,0,0,0,0,26,18.86,18.86,0,0,0,26.05,0l68.09-68.08,68.08,68.08a18.42,18.42,0,1,0,26-26ZM181.57,8.39' transform='translate(-0.94 0)'/%3E%3C/svg%3E");
}
.top-nav a.help:hover:before, .top-nav a.help:focus:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 132.1 200'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:DarkGreen;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M34,55.22Q34,42.67,42,29.79T65.52,8.45Q81,0,101.59,0q19.14,0,33.81,7.07t22.66,19.22a47.12,47.12,0,0,1,8,26.42,40.82,40.82,0,0,1-4.56,19.68A60.4,60.4,0,0,1,150.66,87q-6.27,6.14-22.52,20.67a89.73,89.73,0,0,0-7.2,7.2,29,29,0,0,0-4,5.68,27.89,27.89,0,0,0-2,5.15q-.72,2.58-2.18,9.05-2.5,13.74-15.72,13.74A16.1,16.1,0,0,1,85.4,144q-4.68-4.49-4.69-13.34A46.91,46.91,0,0,1,93.26,97.16a209.53,209.53,0,0,1,15.33-14.6q8.44-7.4,12.22-11.16A37.8,37.8,0,0,0,127.15,63a20.36,20.36,0,0,0,2.57-10,23.34,23.34,0,0,0-7.86-17.83q-7.86-7.26-20.27-7.27-14.53,0-21.41,7.33T68.56,56.8q-4.49,14.94-17,14.93A16.73,16.73,0,0,1,39,66.51Q33.94,61.29,34,55.22ZM98.41,200a20.75,20.75,0,0,1-14.06-5.22q-6-5.22-6-14.6a18.8,18.8,0,0,1,5.81-14,19.64,19.64,0,0,1,14.26-5.68,19.4,19.4,0,0,1,19.69,19.68q0,9.25-5.95,14.54A20.06,20.06,0,0,1,98.41,200Z' transform='translate(-33.95)'/%3E%3C/svg%3E");
}
.top-nav a.lang {
  text-indent: 0;
  width: 6rem;
  position: relative;
  top: -13px;
}
.top-nav a.lang:hover, .top-nav a.lang:focus {
  outline: none;
}

/* *********************************************************
 * Main navigation
 * ********************************************************/
nav.main-nav {
  position: absolute;
  top: 15em;
  margin-left: 0em;
}
nav.main-nav h2 {
  margin: 0;
}
nav.main-nav h2 a {
  color: #fff;
  background-color: #465D2D;
  display: block;
  padding: 0.4em 1em;
  line-height: 1.5em;
  width: fit-content;
  text-decoration: none;
}
nav.main-nav h2 a:hover {
  background-color: #678842;
}
nav.main-nav h2 a:focus {
  outline: 1px solid black;
}
nav.main-nav ul {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  padding: 0px;
  margin: 1px 0px;
  width: fit-content;
  position: absolute;
  z-index: 1;
}
nav.main-nav li {
  list-style: none;
}
nav.main-nav li a {
  color: #555;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
  padding: 3px 10px;
}
nav.main-nav li a:hover {
  background-color: #e1e1e1;
}

/* *********************************************************
 * backnext
 * ********************************************************/
header .backnext,
header .not-backnext {
  margin-top: 25px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
header .backnext a,
header .not-backnext a {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px #555 solid;
  padding: 10px;
}
header .backnext a:before,
header .not-backnext a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  width: 0;
  height: 0;
  margin: 3px 6px;
}
header .backnext a:focus, header .backnext a:hover,
header .not-backnext a:focus,
header .not-backnext a:hover {
  background-color: #e1e1e1;
}
.backnext a.prev:before,
.not-backnext a.prev:before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid black;
}
.backnext a.next:before,
.not-backnext a.next:before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}
.backnext .pageof,
.not-backnext .pageof {
  display: inline-block;
  position: relative;
  height: 17px;
  top: 0;
  font-size: 0.8em;
  vertical-align: top;
}

footer .backnext {
  text-align: right;
}
footer .backnext a {
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #555;
  text-decoration: none;
}
footer .backnext a:hover {
  background-color: #e1e1e1;
}

/* *********************************************************
 * disabke
  * ********************************************************/
.backnext .disabled {
  cursor: default;
  background-color: #e1e1e1 !important;
  opacity: 0.5;
}

/* *********************************************************
 * Buttons
 * ********************************************************/
button.quite-small {
  padding: 0px;
  line-height: 0.8;
  font-size: 11px;
}

/*# sourceMappingURL=theme.css.map */
